@keyframes masuk {
    from{
        transform: translateY(-100%);
    }to {
        transform: translateY(0);
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(/WhatsApp Image 2024-10-02 at 08.29.32.jpeg);
    background-size: 100%;
    /* background-repeat: no-repeat; */
    height: 24vh;
    animation: masuk 1s ease-in-out;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    color: white;
    text-shadow: 4px 4px 4px black;
}
.navbar ul li,a {
    list-style: none;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;

}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    border: 1px solid black;
    height: 80vh;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(5px);
}
main h1 {
    color:  black;
}
main p {
    color: black;
}
